---
layout: blank
---
      {% for page in site.posts %}
      <article>
        <header>
          <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
          <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time>{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}</p>
        </header>
        <div>
          {% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}
        </div>
        <footer>
          <a href="{{ page.url }}">read more</a>
        </footer>
      </article>
      {% endfor %}
